img {
    width: 117px;
    height: 65px;
    vertical-align: middle;
}

.burger-menu {
    display: none;
}

.header-selections {
    height: auto;
}

/* Propiedades para el Top bar */

.spacer {
    flex: 1;
}

.header-menu {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    color: var(--text-color);
}

.header-menu>span {
    padding: 1.5em;
}

.mat-toolbar {
    background-color: var(--accent);
    position: sticky;
    top: 0;
    margin-bottom: 5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.user {
    text-align: end;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.userIcon {
    font-size: 56px;
    height: 56px;
    width: 56px;
}

.area,
.workArea {
    height: 20px;
    color: var(--text-color);
}

.userActions {
    display: contents;
}

.dataUserMenu {
    display: none;
    flex-direction: column;
    padding: 0 20px;
}

@media only screen and (max-width: 750px) {
    .dataUser {
        display: none;
    }
    .dataUserMenu {
        display: flex;
    }
    .burger-menu {
        display: block;
    }
    .header-menu {
        display: none;
    }
}

@media screen and (max-width: 653px) {
    img {
        width: 117px;
        height: 56px;
        vertical-align: middle;
    }
}