<mat-toolbar>
    <span >
        <img src="/assets/images/logo.png" alt="">
    </span>
    <div class="header-menu">
        <button 
        class="header-button" 
        mat-button 
        *ngFor="let opcion of menuRol; let i = index"
        (click)="irA(opcion)">
            {{ opcion.label }}
        </button>
    </div>
    <div class="burger-menu">
        <button mat-button [matMenuTriggerFor]="miMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #miMenu="matMenu">
            <!-- Muestra las pestañas o tabs dependiendo del rol del usuario -->
            <span mat-menu-item *ngFor="let opcion of menuRol" (click) = "irA(opcion)"> {{ opcion.label }}</span>
        </mat-menu>
    </div>
    <div class="spacer"></div>
    <div class="user">
        <div class="userActions">
            <span>{{ auth.nombreCompleto }} </span>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon class="userIcon">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">

                

                <!-- Botón para cerrar sesión -->
                <button mat-menu-item (click)="logOut()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
              </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>