<mat-toolbar>
    <span class="grpName">
        <img src="/assets/images/logo.png" alt="">
    </span>
    <div class="header-menu">
        <span *ngFor="let opcion of menuRol">{{ opcion.label }}</span>
    </div>
    <div class="burger-menu">
        <button mat-button [matMenuTriggerFor]="miMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #miMenu="matMenu">
            <span mat-menu-item *ngFor="let opcion of menuRol"> {{ opcion.label }}</span>
        </mat-menu>
    </div>
    <div class="spacer"></div>
    <div class="user">
        <div class="dataUser">
            <span class="workArea"></span>
            <span></span>
            <span class="userName"></span>
        </div>
        <div class="userActions">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon class="userIcon">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="salir()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Cerrar sesión</span>
              </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>