body {
    border: 1px solid black;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
}

table {
    width: 100%;
}

#tabla, #guardar, h2{
    width: 80%;
}

#tabla, #guardar, #titulo{
    /* TODO Codigo para ver los limites de cada division */
    border: 1px solid black;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px; */
}

#tabla {
    margin-bottom: 1%;
}

#guardar {
    position: absolute;
}