:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.mat-form-field {
    width: 100%;
}

.mat-card {
    margin: auto;
    width: 30%;
    padding: 5%;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: center;
}

.blue:hover {
    color: red;
}

.blue {
    color: blue;
    text-align: center
}

.centrar{
    text-align: center
}