<div class="header">
  <header-compent></header-compent>
</div>

<h1>
    Lista de reportes de siniestros asignados
</h1>

<div class="contenido">
  <table class="table">
    <thead>
        <tr>
            <th>
              idReporteSiniestro
            </th>
            <th>
              Fecha de reporte
            </th>
            <th>
              Latitud
            </th>
            <th>
              Longitud
            </th>
            <th>
              Estatus
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rep of reportes; let i=index;" (click)="RowSelected(rep);">
            <td>{{rep.idReporteSiniestro}}</td>
            <td>{{rep.fechaReporte}}</td>
            <td>{{rep.latitud}}</td>
            <td>{{rep.longitud}}</td>
            <td>{{rep.esDictaminado}}</td>
        </tr>
    </tbody>
    </table>
  
    <div class="button">
      <button mat-raised-button color="primary" type="button" class="centrar"  >Dictarminar</button>
      <button mat-raised-button color="primary" type="button" class="centrar"  >Cancelar</button>
  </div>

</div>



<div class="footer">
  <footer-component></footer-component>
</div>