<div class="main-container">
    <div class="header">
        <header-compent></header-compent>
    </div>
    <div class="body">
        <div class="content-wrap">
            <!--page content-->
            <div class="router" [ngSwitch]="rol">
                <!--router-outlet></router-outlet-->
                <app-home-administrador *ngSwitchCase="'admin'"></app-home-administrador>
                <app-home-ajustador *ngSwitchCase="'ajustador'"></app-home-ajustador>
                <app-home-ejecutivo *ngSwitchCase="'ejecutivo'"></app-home-ejecutivo>
            </div>
        </div>
        <div class="footer">
            <footer-component></footer-component>
        </div>
    </div>