<div class="contenedor">
    <mat-card>
        <mat-card-title>Menu de navegacion</mat-card-title>
        <mat-card-content>
            <nav class="nav_admin">
                <button mat-raised-button>Registrar un trabajador</button>
                <button mat-raised-button>Registrar un trabajador</button>
                <button mat-raised-button>Registrar un trabajador</button>
                <button mat-raised-button>Registrar un trabajador</button>
            </nav>
        </mat-card-content>
    </mat-card>
</div>
