<div class="contenedor" style="position: relative;">
    <mat-card>
        <mat-card-title>Menú de Ajustador</mat-card-title>
        <mat-card-content>
            <p>Dictaminar reportes</p>
                <button routerLink="dictaminarreporte"
                class="m-1 btn btn-light btn-outline-primary" Button >Dictaminar reporte</button>

                <p>Consultar lista de reportes asignados</p>
                <button routerLink="reportesasignados"
                class="m-1 btn btn-light btn-outline-primary" Button >Ver reportes asignados</button>
        </mat-card-content>       
    </mat-card>
</div>